examples/example1.json
[{"id":"b69e2af0.6ef638","type":"dlEventHubSend","z":"e0c346dd.f299a8","name":"dlEventHubSend","debug":true,"x":750,"y":160,"wires":[[]]},{"id":"7ba3e750.c69368","type":"function","z":"e0c346dd.f299a8","name":"config","func":"global.set('config', {\n    connectionString: 'Endpoint=sb://myeventhubsdemonstration.servicebus.windows.net/;SharedAccessKeyName=policy1;SharedAccessKey=w/qPz/x2QSE+AEhF5lU9E=;EntityPath=trash_hub',\n    entityName: 'trash_hub'\n});","outputs":0,"noerr":0,"initialize":"","finalize":"","x":370,"y":60,"wires":[]},{"id":"ac18272e.a202a8","type":"inject","z":"e0c346dd.f299a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":175,"y":60,"wires":[["7ba3e750.c69368"]],"l":false},{"id":"de8dc109.7054d","type":"inject","z":"e0c346dd.f299a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":160,"wires":[["d0db761a.3cebc8"]]},{"id":"d0db761a.3cebc8","type":"function","z":"e0c346dd.f299a8","name":"data1","func":"msg.payload = {\n    \"depot_hub\": \"trash_hub\",\n    \"source_type\": \"mydevice1\",\n    \"version\": \"0.1\",\n    \"timestamp\": new Date().toJSON(),\n    \"data\": {\n        \"machine 1\": {\n            \"temperature\": 20.01,\n            \"pressure\": 1013,\n            \"relHg\": 60\n        }\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":160,"wires":[["93f323d7.d0317"]]},{"id":"93f323d7.d0317","type":"function","z":"e0c346dd.f299a8","name":"credentials","func":"const credentials = global.get('config');\nmsg.connectionString = credentials.connectionString;\nmsg.entityName = credentials.entityName;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":160,"wires":[["b69e2af0.6ef638"]]},{"id":"23fa40a3.9ec35","type":"function","z":"e0c346dd.f299a8","name":"data2","func":"msg.payload = {\n    \"depot_hub\": \"trash_hub\",\n    \"source_type\": \"mydevice1\",\n    \"version\": \"0.1\",\n    \"timestamp\": new Date().toJSON(),\n    \"data\": {\n        \"machine 2\": {\n            \"temperature\": 26.33,\n            \"pressure\": 1001,\n            \"relHg\": 56\n        }\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":200,"wires":[["93f323d7.d0317"]]},{"id":"aebc434f.c76f6","type":"function","z":"e0c346dd.f299a8","name":"data3","func":"msg.payload = {\n    \"depot_hub\": \"trash_hub\",\n    \"source_type\": \"mydevice1\",\n    \"version\": \"0.1\",\n    \"timestamp\": new Date().toJSON(),\n    \"data\": {\n        \"machine 3\": {\n            \"temperature\": 28.75,\n            \"pressure\": 1031,\n            \"relHg\": 44\n        }\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":240,"wires":[["93f323d7.d0317"]]},{"id":"22bb4508.9c0fda","type":"inject","z":"e0c346dd.f299a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":200,"wires":[["23fa40a3.9ec35"]]},{"id":"988b7e81.ede9b","type":"inject","z":"e0c346dd.f299a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":240,"wires":[["aebc434f.c76f6"]]}]