examples/example1.json
[{"id":"7ba3e750.c69368","type":"function","z":"e0c346dd.f299a8","name":"config","func":"global.set('config', {\n    connectionString: 'Endpoint=sb://myeventhubsdemonstration.servicebus.windows.net/;SharedAccessKeyName=policy1;SharedAccessKey=w/qPp62uLD/Pz/x2QSWAI+gllJw60zl+E+AEhF5lU9E=;EntityPath=trash_hub',\n    entityName: 'trash_hub'\n});","outputs":0,"noerr":0,"initialize":"","finalize":"","x":330,"y":60,"wires":[]},{"id":"ac18272e.a202a8","type":"inject","z":"e0c346dd.f299a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":115,"y":60,"wires":[["7ba3e750.c69368"]],"l":false},{"id":"de8dc109.7054d","type":"inject","z":"e0c346dd.f299a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":160,"wires":[["d0db761a.3cebc8"]]},{"id":"d0db761a.3cebc8","type":"function","z":"e0c346dd.f299a8","name":"data1","func":"const credentials = global.get('config');\nmsg.connectionString = credentials.connectionString;\nmsg.entityName = credentials.entityName;\nmsg.payload = {\n    'device_type': 'edge gateway gw30 (weidmüller)',\n    'station_type': 'weather station (agriculture)',\n    'version': '0.1',\n    'timestamp': new Date().toJSON(),\n    'data': {\n        'sensor_1': {\n            'temperature': 20.01,\n            'pressure': 1013,\n            'relHg': 60\n        }\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":160,"wires":[["afbef280.1220d"]]},{"id":"23fa40a3.9ec35","type":"function","z":"e0c346dd.f299a8","name":"data2","func":"const credentials = global.get('config');\nmsg.connectionString = credentials.connectionString;\nmsg.entityName = credentials.entityName;\nmsg.payload = {\n    'device_type': 'edge gateway gw30 (weidmüller)',\n    'station_type': 'weather station (agriculture)',\n    'version': '0.1',\n    'timestamp': new Date().toJSON(),\n    'data': {\n        'sensor_2': {\n            'temperature': 26.33,\n            'pressure': 1001,\n            'relHg': 56\n        }\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":200,"wires":[["afbef280.1220d"]]},{"id":"aebc434f.c76f6","type":"function","z":"e0c346dd.f299a8","name":"data3","func":"const credentials = global.get('config');\nmsg.connectionString = credentials.connectionString;\nmsg.entityName = credentials.entityName;\nmsg.payload = {\n    'depot_hub': 'trash_hub',\n    'source_type': 'mydevice3',\n    'version': '0.1',\n    'timestamp': new Date().toJSON(),\n    'data': {\n        'sensor_3': {\n            'temperature': 26.33,\n            'pressure': 1001,\n            'relHg': 56\n        }\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":240,"wires":[["afbef280.1220d"]]},{"id":"22bb4508.9c0fda","type":"inject","z":"e0c346dd.f299a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":200,"wires":[["23fa40a3.9ec35"]]},{"id":"988b7e81.ede9b","type":"inject","z":"e0c346dd.f299a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":240,"wires":[["aebc434f.c76f6"]]},{"id":"ab6bc1fc.56d0c","type":"debug","z":"e0c346dd.f299a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":120,"wires":[]},{"id":"afbef280.1220d","type":"dlEventHubSend","z":"e0c346dd.f299a8","name":"dlEventHubSend","debug":false,"x":610,"y":180,"wires":[["ab6bc1fc.56d0c"]]}]